<suite name="Internet" parallel="none">
	<listeners>
		<listener class-name="utility.ExtentReportUtil" />
	</listeners>
	<test name="EdgeTest" allow-return-values="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testpackageUI.LoginPageTest"/>
			<class name="testpackageUI.ContextmenuTest" />
			<class name="testpackageUI.Downloadtest" />
			<class name="testpackageUI.DragandDropTest" />
			<class name="testpackageUI.DynamiccontentTest" />
			<class name="testpackageUI.Dropdowntest" />
			<class name="testpackageUI.DynamicLoadingTest" />
			<class name="testpackageUI.Floatingmenutest" />
			<class name="testpackageUI.iframetest" />
			<class name="testpackageUI.IndexTest" />
		</classes>
	</test>
	<test name="RegressionTest" allow-return-values="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testpackageUI.JSAlertTest" />
			<class name="testpackageUI.Dynamiccontroltest" />
			<class name="testpackageUI.MousHoverTest" />
			<class name="testpackageUI.JSErrortest" />
			<class name="testpackageUI.NewTabTest" />
			<class name="testpackageUI.NotificationTest" />
			<class name="testpackageUI.Uploadtest" />
			<class name="testpackageUI.CheckBoxTest" />
		</classes>
	</test>
</suite>