<suite name="Internet" parallel="none">
	<test name="EdgeTest" allow-return-values="true" >
		<parameter name="browser" value="edge" />
		<classes>
			<class name="testpackage.LoginPageTest" />
			<class name="testpackage.ContextmenuTest" />
			<class name="testpackage.Downloadtest" />
			<class name="testpackage.DragandDropTest" />
			<class name="testpackage.DynamiccontentTest" />
			<class name="testpackage.Dropdowntest" />
			<class name="testpackage.DynamicLoadingTest" />
			<class name="testpackage.Floatingmenutest" />
			<class name="testpackage.iframetest" />
		</classes>
	</test>
	<test name="RegressionTest" allow-return-values="true">
		<parameter name="browser" value="chrome" />
		<classes>
			<class name="testpackage.JSAlertTest" />
			<class name="testpackage.Dynamiccontroltest" />
			<class name="testpackage.MousHoverTest" />
			<class name="testpackage.JSErrortest" />
			<class name="testpackage.NewTabTest" />
			<class name="testpackage.NotificationTest" />
			<class name="testpackage.Uploadtest" />
			<class name="testpackage.CheckBoxTest" />
		</classes>
	</test>
</suite>